#teleskope-background {
  background: url('images/spiral-of-stars.jpeg') no-repeat center center fixed;
  background-size: cover;
}

#blue-a-hyperlink {
  color: #0E6EB8;
}

#profile-pic {
  width: 335px;
}
