@import url('https://fonts.googleapis.com/css?family=Lato');

#teleskope-background {
  background: url('images/spiral-of-stars.jpeg') no-repeat center center fixed;
  background-size: cover;
}

body {
  background-color: #F5F0F0 !important;
}

h1, h2, h3, h4, h5, p, span {
  font-family: Lato, sans-serif;
}

#cardHeader {
  background-color: #455880;
  color: #F5F0F0;
}

#modal {
  background-color: #F5F0F0;
}

#modalHeader {
  background-color: #455880;
  color: #F5F0F0;
  padding-bottom: 10px;
  padding-top: 10px;
  padding-left: 30px;
}

#modalComponent  {
  padding-top: 10px;
  padding-bottom: 10px;
}

#modalFooter {
  background-color: #455880;
  padding-top: 20px;
  padding-bottom: 20px;
}/*For the companyCard when company students are logged in*/
.companyCardImage > img {
  width: 100%;
  height: auto;
  max-height: 150px;
}
/*For the companyCard when company students are logged in*/
.companyCardImage > a {
  z-index: 1;
}

/*For the companyCard when company users are logged in*/
img.companyCardImage {
  width: 100%;
  height: auto;
  max-height: 150px;
  object-fit: cover;
  object-position: center;
}

